
[Unit]
Description="subspace farmer"
After=network-online.target

[Service]
User={{ subspace_owner}}
Group={{ subspace_group }}
WorkingDirectory={{ subspace_farmer_install_path }}/
ExecStart={{ subspace_farmer_binary_name }} farm \
    --node-rpc-url {{ subspace_farmer_node_rpc_url }} \
     {% for disk in subspace_farmer_disks %}{{ disk }} \
     {% endfor -%}
    --reward-address {{ subspace_farmer_wallet_adress }} \
    --listen-on /ip4/0.0.0.0/tcp/{{ subspace_farmer_port }} \
    --farm-during-initial-plotting false \
    --disable-farm-locking \
    --prometheus-listen-on 0.0.0.0:9081


StandardOutput=append:{{subspace_farmer_log_folder}}/{{ subspace_farmer_log_file }}
StandardError=append:{{subspace_farmer_log_folder}}/{{ subspace_farmer_log_file }}
LimitNOFILE=infinity

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
