
[Unit]
Description="subspace node"
After=network-online.target

[Service]
User={{ subspace_owner}}
Group={{ subspace_group }}
WorkingDirectory={{ subspace_operator_install_path }}/
ExecStart={{ subspace_operator_binary_name }} \
    --chain {{ subspace_chain_id }} \
    --name {{ ansible_hostname }} \
    --base-path {{ subspace_operator_install_path }}/ \
    --blocks-pruning 256 \
    --state-pruning archive \
    --prometheus-external \
    -- --domain-id 1 \
    --no-private-ipv4 \
    --operator \
    --bootnodes /ip4/3.87.28.170/tcp/40333/p2p/12D3KooWGHtULvhdKMZtzigSK1438uWXPj9rBQHVzTaKMWv1WRXp \
    --keystore-path /keystore \
    --port {{ subspace_operator_p2p_port }} \
    --dsn-listen-on /ip4/0.0.0.0/udp/{{ subspace_operator_dsn_port }}/quic-v1 \
    --dsn-listen-on /ip4/0.0.0.0/tcp/{{ subspace_operator_dsn_port }} \

StandardOutput=append:{{subspace_operator_log_folder}}/{{ subspace_operator_log_file }}
StandardError=append:{{subspace_operator_log_folder}}/{{ subspace_operator_log_file }}


Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
