{{ subspace_farmer_log_folder }}/{{ subspace_farmer_log_file }} {
    rotate 7
    daily
    missingok
    notifempty
    compress
    delaycompress
    create 644 {{ subspace_farmer_user }} {{ subspace_farmer_group }}
    endscript
}