
[Unit]
Description="subspace node"
After=network-online.target

[Service]
User={{ subspace_operator_user }}
Group={{ subspace_operator_group }}
WorkingDirectory={{ subspace_operator_root_path }}
ExecStart={{ subspace_operator_binary_name }} run \
    --chain {{ subspace_operator_chain_id }} \
    --base-path {{ subspace_operator_node_path }}/ \
    --name {{ ansible_hostname }} \
    --blocks-pruning archive \
    --state-pruning archive \
    --sync full \
    -- \
    --domain-id 0 \
    --operator-id 143

StandardOutput=append:{{ subspace_operator_log_folder }}/{{ subspace_operator_log_file }}
StandardError=append:{{ subspace_operator_log_folder }}/{{ subspace_operator_log_file }}


Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
