
[Unit]
Description="subspace node"
After=network-online.target

[Service]
User={{ subspace_operator_user }}
Group={{ subspace_operator_group }}
WorkingDirectory={{ subspace_operator_root_path }}
ExecStart={{ subspace_operator_binary_name }} run \
    --chain {{ subspace_operator_chain_id }} \
    --base-path {{ subspace_operator_node_path }}/ \
    --name {{ ansible_hostname }} \
    --blocks-pruning archive \
    --state-pruning archive \
    --sync full \
    -- \
    --domain-id {{ subspace_operator_domain_id }} \
    --operator-id 143 \
    --listen-on /ip4/0.0.0.0/tcp/40333 \
    --bootstrap-node /dns/bootstrap-0.autoid.mainnet.subspace.network/tcp/30334/p2p/12D3KooWFoiz2iTkmnnSqiL2oQRhGzaqgtUjYNz2jyWKQqgPXgx9

StandardOutput=append:{{ subspace_operator_log_folder }}/{{ subspace_operator_log_file }}
StandardError=append:{{ subspace_operator_log_folder }}/{{ subspace_operator_log_file }}


Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
