frontend https
    mode http
    bind *:443 ssl crt fullchain.pem  ca-file chain.pem verify optional

    redirect scheme https if !{ ssl_fc }

    acl haproxy_stats_acl path_beg /haproxy_stats
    acl nexus_acl path_beg /nexus
    acl rest_nexus_acl path_beg /service/rest/repository/browse
    acl grafana_acl path_beg /grafana
    acl kibana_acl path_beg /kibana
    acl arcture_acl hdr(host) -i arcture.eu www.arcture.eu

    use_backend backend_kibana if kibana_acl

    use_backend backend_haproxy_stats if haproxy_stats_acl
    use_backend backend_nexus if nexus_acl
    use_backend backend_rest_nexus if rest_nexus_acl
    use_backend backend_grafana if grafana_acl
    use_backend backend_arcture if arcture_acl

backend backend_nexus
    mode http
    option httpchk
    http-request replace-path /nexus(/)?(.*) /\2

    default-server check fall 2 rise 2

    server  hephaestus_beta hephaestus-beta.mythologic.fr:8081

backend backend_rest_nexus
    mode http
    option httpchk

    default-server check fall 2 rise 2

    server  hephaestus_beta hephaestus-beta.mythologic.fr:8081


backend backend_grafana
    mode http
    option httpchk

    default-server check fall 2 rise 2 ssl verify none

    server mermaid-alpha mermaid-alpha.mythologic.fr:3000


backend backend_haproxy_stats
        mode http
        server srv_haproxy_stats 127.0.0.1:9091 check  fall 2 rise 2


backend backend_kibana
    mode http

    http-request replace-path /kibana(/)?(.*) /\2
    default-server check fall 2 rise 2 ssl verify none

    server mermaid-alpha mermaid-alpha.mythologic.fr:5601

backend backend_arcture
    mode http
    http-request set-header X-Forwarded-Proto https if { ssl_fc }
    http-request set-header X-Forwarded-Proto https if !{ ssl_fc }
    http-request set-header X-Forwarded-Host arcture.eu
    http-request set-header Host arcture.eu
    option forwardfor
    timeout server 30s  # Increase server timeout


    server wordpress1 zaza.mythologic.fr:80 check
