- type: filestream
  id: "{{ subspace_farmer_binary_name }}"
  paths:
    - "{{ subspace_farmer_log_folder }}/*.log"
  processors:
    - add_tags:
        tags: subspace_farmer
        target: subspace_app