{{subspace_controller_log_folder}}/{{ subspace_controller_log_file }} {
    rotate 7
    daily
    missingok
    notifempty
    compress
    delaycompress
    create 644 chimera chimera
    endscript
}