
[Unit]
Description="subspace controller"
Requires=network-online.target
After=network-online.target

[Service]
User={{ subspace_controller_user }}
Group={{ subspace_controller_group }}
WorkingDirectory={{ subspace_controller_install_path }}/
ExecStart={{ subspace_controller_binary_name }} cluster \
        {% for item in subspace_controller_nats_server %} --nats-server {{ item }} {% endfor %} \
         controller \
        --cache-group "{{ ansible_hostname }}" \
        --base-path {{ subspace_controller_install_path }} \
        --node-rpc-url {{ subspace_controller_node_rpc_url }}


StandardOutput=append:{{ subspace_controller_log_folder }}/{{ subspace_controller_log_file }}
StandardError=append:{{ subspace_controller_log_folder }}/{{ subspace_controller_log_file }}
LimitNOFILE=infinity

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
