[Unit]
Description=streamr daemon
After=network-online.target

[Service]
User={{ streamr_user }}
Group={{ streamr_group }}
ExecStart={{ streamr_exec_start_command }}
Restart=always
RestartSec=3
StandardOutput=append:{{ streamr_log_dir }}/{{ streamr_log_filename_name }}
StandardError=append:{{ streamr_log_dir }}/{{ streamr_log_filename_name }}

[Install]
WantedBy=multi-user.target
