[Unit]
Description={{ cosmos_node }} node daemon
After=network-online.target

[Service]
User={{ cosmos_node_owner }}
WorkingDirectory={{ cosmos_node_home }}
ExecStart={{ cosmos_node_binaries }} start --log_format json --home {{ cosmos_node_home }}
Restart=always
RestartSec=3
LimitNOFILE=infinity
StandardOutput=append:{{ cosmos_node_log_path }}/{{ cosmos_node_log_file }}
StandardError=append:{{ cosmos_node_log_path }}/{{ cosmos_node_log_file }}


Environment="DAEMON_NAME={{ cosmos_node }}"
Environment="DAEMON_HOME={{ cosmos_node_home }}/"
Environment="DAEMON_RESTART_AFTER_UPGRADE=true"
Environment="DAEMON_ALLOW_DOWNLOAD_BINARIES=false"

[Install]
WantedBy=multi-user.target