---
  
- module: http
  metricsets:
    - json
  period: 60s  
  hosts: ["localhost:5000"]
  namespace: "get_blockchain_state"
  path: "/get_blockchain_state"
  
- module: http
  metricsets:
    - json
  period: 60s  
  hosts: ["localhost:5000"]
  namespace: "get_network_space"
  path: "/get_network_space"
  
- module: http
  metricsets:
    - json
  period: 60s  
  hosts: ["localhost:5000"]
  namespace: "healthz"
  path: "/healthz"
  
- module: http
  metricsets:
    - json
  period: 60s  
  hosts: ["localhost:5000"]
  namespace: "get_pool_state"
  path: "/get_pool_state"
  
- module: http
  metricsets:
    - json
  period: 60s  
  hosts: ["localhost:5000"]
  namespace: "get_harvesters"
  path: "/get_harvesters"
  
- module: http
  metricsets:
    - json
  period: 60s  
  hosts: ["localhost:5000"]
  namespace: "get_harvesters_summary"
  path: "/get_harvesters_summary"
  
- module: http
  metricsets:
    - json
  period: 60s  
  hosts: ["localhost:5000"]
  namespace: "get_harvester_plots_valid"
  path: "/get_harvester_plots_valid"
  
- module: http
  metricsets:
    - json
  period: 60s  
  hosts: ["localhost:5000"]
  namespace: "get_harvester_plots_invalid"
  path: "/get_harvester_plots_invalid"
  
- module: http
  metricsets:
    - json
  period: 60s  
  hosts: ["localhost:5000"]
  namespace: "get_harvester_plots_keys_missing"
  path: "/get_harvester_plots_keys_missing"
  
- module: http
  metricsets:
    - json
  period: 60s  
  hosts: ["localhost:5000"]
  namespace: "get_harvester_plots_duplicates"
  path: "/get_harvester_plots_duplicates"
  
- module: http
  metricsets:
    - json
  period: 60s  
  hosts: ["localhost:5000"]
  namespace: "get_plots"
  path: "/get_plots"
  
