- module: elasticsearch
  xpack.enabled: true
  period: 60s
  hosts: [ {{ metricbeat_elasticsearch_url }} ]
  username: "{{ metricbeat_elasticsearch_user }}"
  password: "{{ metricbeat_elasticsearch_password }}"

  ssl.certificate_authorities: {{ metricbeat_ssl_files }}

  scope: node
  ssl.enabled: true
