###################### Metricbeat Configuration Example #######################

# =========================== Modules configuration ============================

# ================================== Logging ===================================

logging.level: info
logging.to_files: true
logging.files:
  path: /var/log/metricbeat
  name: metricbeat
  keepfiles: 2
  permissions: 0640
  rotateeverybytes: 52428800  # 50 MB

  # Rotate files with .log extension
  rotateonstartup: false
  extension: .log

  # Enable file compression during rotation
  compress: true

  # Use rotation number as the extension
  layout: '${[0-9]}'

metricbeat.config.modules:
  # Glob pattern for configuration loading
  path: ${path.config}/modules.d/*.yml

  # Set to true to enable config reloading
  reload.enabled: false

# ======================= Elasticsearch templates setting =======================

setup.template.settings:
  index.number_of_shards: 1
  index.codec: best_compression
  #_source.enabled: false
setup.ilm.enabled: true


# ---------------------------- Elasticsearch Output ----------------------------
output.elasticsearch:
  hosts: [ {{ metricbeat_elasticsearch_url }} ]
  protocol: "https"
  username: "{{ metricbeat_elasticsearch_user }}"
  password: "{{ metricbeat_elasticsearch_password }}"

  ssl.certificate_authorities: {{ metricbeat_ssl_files }}

  allow_older_versions: true
