###################### Metricbeat Configuration Example #######################

# =========================== Modules configuration ============================

logging.level: info
logging.to_files: true
logging.files:
  path: /var/log/metricbeat
  name: metricbeat
  keepfiles: 2
  permissions: 0640
  rotateeverybytes: 324288000

metricbeat.config.modules:
  # Glob pattern for configuration loading
  path: ${path.config}/modules.d/*.yml

  # Set to true to enable config reloading
  reload.enabled: false

# ======================= Elasticsearch templates setting =======================

setup.template.settings:
  index.number_of_shards: 1
  index.codec: best_compression
  #_source.enabled: false
setup.ilm.enabled: true


# ---------------------------- Elasticsearch Output ----------------------------
output.elasticsearch:
  hosts: [ {{ metricbeat_elasticsearch_url }} ]

  protocol: "https"

  username: "{{ metricbeat_user }}"
  password: "{{ metricbeat_password }}"

  ssl.certificate_authorities: [ "/etc/letsencrypt/live/{{ ansible_host }}/fullchain.pem" ]
  allow_older_versions: true
