export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

export LOG_COLORS={{ streamr_log_color_enabled | lower }}
export DISABLE_PRETTY_LOG={{ streamr_pretty_log_disabled | lower }}


streamr-broker {{ streamr_install_dir }}/default.json
