[Unit]
Description="subspace farmer"
Requires=network-online.target
After=network-online.target

[Service]
User={{ subspace_farmer_user }}
Group={{ subspace_farmer_group }}
WorkingDirectory={{ subspace_farmer_install_path }}/
ExecStart={{ subspace_farmer_binary_name }} cluster \
    {% for item in subspace_farmer_nats_server %} --nats-server {{ item }} {% endfor %} \
    --prometheus-listen-on {{ subspace_farmer_prometheus_address }} \
    farmer \
{% for disk_info in subspace_farmer_ansible_mounts.ansible_facts.ansible_mounts -%}
{%- for item in subspace_farmer_filesystem_disk -%}
{% if  '/dev/' ~ item["disk"] == disk_info['device'] -%}
      path={{ disk_info.mount }},size={{ disk_info.size_total - ( subspace_farmer_save_go * 1024**3) }} \
{% endif -%}
    {%- endfor -%}
    {% endfor -%}
    --reward-address "{{ subspace_farmer_reward_adress }}"

StandardOutput=append:{{ subspace_farmer_log_folder }}/{{ subspace_farmer_log_file }}
StandardError=append:{{ subspace_farmer_log_folder }}/{{ subspace_farmer_log_file }}
LimitNOFILE=infinity

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
