
[Unit]
Description="subspace farmer"
Requires=nats.service subspace_node.service subspace_cache.service subspace_controller.service
After=nats.service subspace_node.service subspace_cache.service subspace_controller.service

[Service]
User={{ subspace_farmer_user }}
Group={{ subspace_farmer_group }}
WorkingDirectory={{ subspace_farmer_install_path }}/
ExecStart={{ subspace_farmer_binary_name }} cluster \
        --nats-server {{ subspace_farmer_nats_ip }} \
         farmer \
        --reward-address {{ subspace_farmer_reward_adress }} \
        {% for disk_info in subspace_farmer_disks %}path={{ disk_info.path }},size={{ disk_info.size }} \
        {% endfor -%}

StandardOutput=append:{{ subspace_farmer_log_folder }}/{{ subspace_farmer_log_file }}
StandardError=append:{{ subspace_farmer_log_folder }}/{{ subspace_farmer_log_file }}
LimitNOFILE=infinity

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
