# Set the root logger level
rootLogger.level = info
rootLogger.appenderRef.file.ref = rolling
rootLogger.appenderRef.console.ref = console

# Console appender configuration
appender.console.type = Console
appender.console.name = console
appender.console.layout.type = PatternLayout
appender.console.layout.pattern = [%d{ISO8601}] [%t] %-5p %c{1.} - %m%n

# Rolling file appender configuration
appender.rolling.type = RollingFile
appender.rolling.name = rolling
appender.rolling.fileName = ${sys:es.logs}/elasticsearch.log
appender.rolling.filePattern = ${sys:es.logs}/elasticsearch-%d{yyyy-MM-dd}-%i.log.gz
appender.rolling.layout.type = PatternLayout
appender.rolling.layout.pattern = [%d{ISO8601}] [%t] %-5p %c{1.} - %m%n
appender.rolling.policies.type = Policies
appender.rolling.policies.time.type = TimeBasedTriggeringPolicy
appender.rolling.policies.time.interval = 1
appender.rolling.policies.time.modulate = true
appender.rolling.policies.size.type = SizeBasedTriggeringPolicy
appender.rolling.policies.size.size = 50MB
appender.rolling.strategy.type = DefaultRolloverStrategy
appender.rolling.strategy.max = 30

# Loggers for specific components
logger.deprecation.name = org.elasticsearch.deprecation
logger.deprecation.level = warn
logger.deprecation.appenderRef.deprecation_rolling.ref = deprecation_rolling
logger.deprecation.additivity = false

# Deprecation rolling file appender
appender.deprecation_rolling.type = RollingFile
appender.deprecation_rolling.name = deprecation_rolling
appender.deprecation_rolling.fileName = ${sys:es.logs}/elasticsearch_deprecation.log
appender.deprecation_rolling.filePattern = ${sys:es.logs}/elasticsearch_deprecation-%d{yyyy-MM-dd}-%i.log.gz
appender.deprecation_rolling.layout.type = PatternLayout
appender.deprecation_rolling.layout.pattern = [%d{ISO8601}] [%t] %-5p %c{1.} - %m%n
appender.deprecation_rolling.policies.type = Policies
appender.deprecation_rolling.policies.time.type = TimeBasedTriggeringPolicy
appender.deprecation_rolling.policies.time.interval = 1
appender.deprecation_rolling.policies.time.modulate = true
appender.deprecation_rolling.policies.size.type = SizeBasedTriggeringPolicy
appender.deprecation_rolling.policies.size.size = 50MB
appender.deprecation_rolling.strategy.type = DefaultRolloverStrategy
appender.deprecation_rolling.strategy.max = 7

# GC logs
logger.gc.name = gc
logger.gc.level = info
logger.gc.appenderRef.gc_rolling.ref = gc_rolling
logger.gc.additivity = false

appender.gc_rolling.type = RollingFile
appender.gc_rolling.name = gc_rolling
appender.gc_rolling.fileName = ${sys:es.logs}/gc.log
appender.gc_rolling.filePattern = ${sys:es.logs}/gc-%d{yyyy-MM-dd}-%i.log.gz
appender.gc_rolling.layout.type = PatternLayout
appender.gc_rolling.layout.pattern = [%d{ISO8601}] [%t] %-5p %c{1.} - %m%n
appender.gc_rolling.policies.type = Policies
appender.gc_rolling.policies.time.type = TimeBasedTriggeringPolicy
appender.gc_rolling.policies.time.interval = 1
appender.gc_rolling.policies.time.modulate = true
appender.gc_rolling.policies.size.type = SizeBasedTriggeringPolicy
appender.gc_rolling.policies.size.size = 50MB
appender.gc_rolling.strategy.type = DefaultRolloverStrategy
appender.gc_rolling.strategy.max = 10

# Slow logs
logger.index_search_slowlog.name = index.search.slowlog
logger.index_search_slowlog.level = trace
logger.index_search_slowlog.appenderRef.slowlog_rolling.ref = slowlog_rolling
logger.index_search_slowlog.additivity = false

logger.index_indexing_slowlog.name = index.indexing.slowlog
logger.index_indexing_slowlog.level = trace
logger.index_indexing_slowlog.appenderRef.slowlog_rolling.ref = slowlog_rolling
logger.index_indexing_slowlog.additivity = false

appender.slowlog_rolling.type = RollingFile
appender.slowlog_rolling.name = slowlog_rolling
appender.slowlog_rolling.fileName = ${sys:es.logs}/elasticsearch_slowlog.log
appender.slowlog_rolling.filePattern = ${sys:es.logs}/elasticsearch_slowlog-%d{yyyy-MM-dd}-%i.log.gz
appender.slowlog_rolling.layout.type = PatternLayout
appender.slowlog_rolling.layout.pattern = [%d{ISO8601}] [%t] %-5p %c{1.} - %m%n
appender.slowlog_rolling.policies.type = Policies
appender.slowlog_rolling.policies.time.type = TimeBasedTriggeringPolicy
appender.slowlog_rolling.policies.time.interval = 1
appender.slowlog_rolling.policies.time.modulate = true
appender.slowlog_rolling.policies.size.type = SizeBasedTriggeringPolicy
appender.slowlog_rolling.policies.size.size = 50MB
appender.slowlog_rolling.strategy.type = DefaultRolloverStrategy
appender.slowlog_rolling.strategy.max = 30
