#!/bin/bash

cp {{ certbot_home }}/config/live/{{ ansible_host }}/* {{ certbot_home }}/eden/
chown {{ certbot_owner }}:{{ certbot_group }} eden -R
chmod 0660 eden/*

mv {{ certbot_home }}/eden/privkey.pem {{ certbot_home }}/eden/fullchain.key.pem
